<section>
    <div class="headline">
        <h2>Say Hi!</h2>
    </div>
    <div class="subheadline">
        <h3>Want to discuss a new project?</h3>
        <span>Say hello! let's discuss your ideas and make it happen</span>
    </div>
    <form (ngSubmit)="onSubmit()">

        <!-- <label for="name">Name</label> -->
        <input [(ngModel)]="contactData.name" [ngModelOptions]="{standalone: true}" type="text" id="name" name="firstname" placeholder="Your name">

        <!-- <label for="email">Email</label> -->
        <input [(ngModel)]="contactData.email" [ngModelOptions]="{standalone: true}" type="text" id="email" name="lastname" placeholder="Your email">


        <!-- <label for="message">Message</label> -->
        <textarea [(ngModel)]="contactData.message" [ngModelOptions]="{standalone: true}" id="message" name="message" style="height:200px" placeholder="Your message"></textarea>

        <input id="submit-btn" type="submit" value="Send message">

    </form>
</section>