<section>
    <div class="headline">
        <h2>Say Hi!</h2>
    </div>
    <div class="subheadline">
        <h3>Want to discuss a new project?</h3>
        <span>Say hello! let's discuss your ideas and make it happen</span>
    </div>
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">

        <input #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name" name="firstname"
            placeholder="Your name" required>
        <label for="name">
            @if (!name.valid && name.touched && !name.disabled) {
            <span class="form-error">Please enter a message</span>
            }
        </label>


        <input #email="ngModel" [(ngModel)]="contactData.email" type="text" id="email" name="lastname"
            placeholder="Your email" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
        <label for="email">
            @if (!email.valid && email.touched && !email.disabled) {
            <span class="form-error">Please enter a message</span>
            }
        </label>


        <textarea #message="ngModel" minlength="4" [(ngModel)]="contactData.message" id="message" name="message"
            placeholder="Your message" required=></textarea>
        <label for="message">
            @if (!message.valid && message.touched && !message.disabled) {
            <span class="form-error">Please enter a message</span>
            }
        </label>

        <input id="submit-btn" type="submit" value="Send message">

    </form>
</section>