section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headline {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 160px 0 80px 0;
    width: 100%;

    >h2 {
        font-weight: 800;
        font-size: 72px;
        line-height: 72px;
        color: #FFFCF3;

        &:hover {
            transition: all 100ms ease-in-out;
            color: #FF9900;
            cursor: default;
        }
    }
}

.subheadline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    >h3 {
        font-family: 'Rock Salt';
        font-weight: 700;
        font-size: 21px;
        line-height: 23px;
        color: #FF9900;
    }

    >span {
        font-weight: 400;
        font-size: 21px;
        line-height: 23px;
        color: #FFFCF3;
    }
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFCF3;
    width: 617px;
    gap: 24px;
    margin-top: 56px;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    background-color: transparent;
    color: #FFFCF3;

    >label {
        font-family: 'Overpass';
        text-align: left;
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        height: 20px;
        width: 100%;
    }
}

.input-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    background-color: transparent;
    color: #FFFCF3;

    >.status-icon {
        position: absolute;
        right: 4px;
        width: 30px;
        height: 30px;
        object-fit: contain;
    }

    >input,
    textarea {
        background-color: transparent;
        border: 2px solid transparent;
        outline: none;
        border-bottom: 2px solid #FFFCF3;
        color: #FFFCF3;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 15px 8px;
        text-align: left;
        font-family: 'Overpass';
        font-size: 16px;
        line-height: 23px;
        font-weight: 400;
        border-radius: 2px;

        &:hover {
            cursor: pointer;
            border: 2px solid #FFFCF3;
        }

        &:focus {

            border: 2px solid #FF9900;
        }
    }

    textarea {
        height: 200px;

        >span {
            color: #FFFCF3;
        }
    }

    ::placeholder {
        color: #FFFCF3;
        font-family: 'Overpass';
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
    }
}

.form-error {
    color: red;
}

.submit-btn {
    cursor: pointer;
    width: 269px;
    height: 68px;
    border: 4px solid #FFFCF3;
    font-family: 'Overpass';
    font-weight: 400;
    font-size: 21px;
    line-height: 23px;
    text-align: center;
    background-color: transparent;
    color: #FFFCF3;

    &:disabled {
        opacity: 30%;
        cursor: not-allowed;
        border: 4px solid #BBBBBB;
        // background-color: #bbbbbb41;
        color: #BBBBBB;
    }
}

input {
    // border:  0px 0px 2px 0px;
    padding: 15px 25px 15px 25px;
    gap: 10px;
}

.input-error {
    border: 2px solid red !important;
}

.back-to-top {
    position: absolute;
    bottom: 0;
    right: 100px;
    width: 54px;
    height: 77px;
    background-image: url('./../../../assets/animation/arrow_up_default.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: animation 300ms ease-out;

    &:hover {
        cursor: pointer;
        animation: back-to-top-animation 300ms ease-out forwards;
    }
}

@keyframes back-to-top-animation {
    0% {
        background-image: url('./../../../assets/animation/arrow_up_default.png');
    }

    100% {
        background-image: url('./../../../assets/animation/arrow_up_variant.png');
    }
}

@media screen and (max-width: 420px) {

    .headline {
        margin: 100px 0 80px 0;

        >h2 {
            font-size: 45px;
            line-height: 45px;
            font-weight: 800;
        }
    }

    .subheadline {
        align-items: center;

        >h3 {
            font-size: 32px;
            line-height: 38.4px;
            font-weight: 700;
            text-align: center;
        }

        >span {
            font-size: 23px;
            line-height: 27.6px;
            text-align: center;
        }
    }

    form {
        width: 100%;
    }

    .submit-btn {
        width: 230px;
    }
}