<section id="contact">
    <div class="headline">
        <h2 class="change-color">{{ "contact.title" | translate }}</h2>
    </div>
    <div class="subheadline">
        <span id="subheadline1">{{ "contact.subtitle" | translate }}</span>
        <span id="subheadline2"><span [class.anim-typewriter]="aboutMeScrolledY">{{ "contact.description" | translate }}</span></span>
    </div>
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" autocomplete>
        <div class="input-container">
            <div class="input-wrapper">
                <input #name="ngModel" [class.input-error]="!name.valid && name.touched && !name.disabled"
                    [(ngModel)]="contactData.name" type="text" id="name" name="firstname"
                    placeholder="{{ 'contact.form.name.placeholder' | translate }}" autocomplete="off" required>
                @if (!name.valid && name.touched && !name.disabled) {
                <img class="status-icon" src="../../../assets/icons/error.png" alt="">
                } @else if (name.valid && name.touched && !name.disabled) {<img class="status-icon"
                    src="../../../assets/icons/success.png" alt="">}
            </div>
            <label for="name">
                @if (!name.valid && name.touched && !name.disabled) {
                <span class="form-error">{{ "contact.form.name.errors.required" | translate }}</span>
                }
            </label>
        </div>
        <div class="input-container">
            <div class="input-wrapper">
                <input #email="ngModel" [class.input-error]="!email.valid && email.touched && !email.disabled"
                    [(ngModel)]="contactData.email" type="text" id="email" name="lastname"
                    placeholder="{{ 'contact.form.email.placeholder' | translate }}" required
                    pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                @if (!email.valid && email.touched && !email.disabled) {
                <img class="status-icon" src="../../../assets/icons/error.png" alt="">
                } @else if (email.valid && email.touched && !email.disabled) {<img class="status-icon"
                    src="../../../assets/icons/success.png" alt="">}
            </div>
            <label for="email">
                @if (!email.valid && email.touched && !email.disabled) {
                <span class="form-error">{{ "contact.form.email.errors.required" | translate }}</span>
                }
            </label>
        </div>
        <div class="input-container">
            <div class="input-wrapper">
                <textarea #message="ngModel" minlength="4"
                    [class.input-error]="!message.valid && message.touched && !message.disabled"
                    [(ngModel)]="contactData.message" id="message" name="message"
                    placeholder="{{ 'contact.form.message.placeholder' | translate }}" required></textarea>
                @if (!message.valid && message.touched && !message.disabled) {
                <img class="status-icon textarea-icon" src="../../../assets/icons/error.png" alt="">
                } @else if (message.valid && message.touched && !message.disabled) {<img
                    class="status-icon textarea-icon" src="../../../assets/icons/success.png" alt="">}
            </div>
            <label for="message">
                @if (!message.valid && message.touched && !message.disabled) {
                <span class="form-error">{{ "contact.form.message.errors.required" | translate }}</span>
                }
            </label>
        </div>

        <div class="policy-container">
            <input type="checkbox" id="policy" name="policy" [(ngModel)]="policy" required>
            <div class="policy-container">
                <label for="policy">{{ "contact.form.privacy.label_01" | translate }}<a href="privacy">{{
                        "contact.form.privacy.title" | translate }}</a>{{ "contact.form.privacy.label_02" | translate}}
                </label>
                @if (name.valid && email.valid && message.valid && !policy) {
                <span class="form-error">{{ "contact.form.privacy.errors.required" | translate }}</span>
                }
            </div>

        </div>

        @if (contactForm.valid && policy) {
        <input class="submit-btn" type="submit" value="{{ 'contact.form.button.label' | translate }}">

        } @else {
        <input class="submit-btn" type="submit" value="{{ 'contact.form.button.label' | translate }}" disabled>
        }
    </form>
    <a href="#top" class="back-to-top"></a>
</section>