<main id="main" class="above-the-fold" role="main" aria-labelledby="main-heading">
    <div class="headline-container">
        <h1 id="main-heading" class="slide-down-animation">Frontend</h1>
        <h1 class="slide-to-left-animation" aria-describedby="developer-name">{{ "aboveTheFold.title" | translate }}</h1>
        <div class="headline-underline slide-to-right-animation">
            <hr aria-hidden="true">
            <p id="developer-name">Preston Jones</p>
        </div>
    </div>
    @if (scrWidth <= 960) {
        <a class="btn-prim btn-font zoom-in" href="#contact" aria-label="Zum Kontaktformular springen">
            {{ "aboveTheFold.sendMessageBtn" | translate }}
        </a>
    }
    <div class="headline-bottom slide-down-animation">
        <div class="headline-email">
            <a href="mailto:mail@prestonjones.dev?subject=Hi Preston, I've got a message for you!" 
               aria-label="E-Mail an Preston Jones senden">
                <p>mail&#64;prestonjones.dev</p>
            </a>
        </div>
        <a href="#aboutme" aria-label="Nach unten zu Über mich scrollen">
            <div class="scroll-down">
                <div class="arrow-container">
                    <img class="arrow-down" ngSrc="./../../../assets/animation/arrow.png" 
                         alt="Nach unten scrollen" width="24" height="24" priority>
                </div>
                <div id="scroll-down-text">
                    <p>Scroll</p>
                    <p>Down</p>
                </div>
            </div>
        </a>
    </div>
</main>