<section class="above-the-fold">
    <div class="headline-container">
        <h1 class="slide-down-animation">Frontend</h1>
        <h1 class="slide-to-left-animation">Developer</h1>
        <div class="headline-underline slide-to-right-animation">
            <hr>
            <p>Preston Jones</p>
        </div>
    </div>
    <div class="headline-bottom slide-down-animation">
        <div class="headline-email">
            <a href="">
                <p>mail&#64;preston-jones.de</p>
            </a>
        </div>
        <div class="scroll-down">
            <div class="arrow-container">
                <img class="arrow-down" src="./../../../assets/icons/arrow.png">
            </div>
            <div id="scroll-down-text">
                <p>Scroll</p>
                <p>Down</p>
            </div>
        </div>
    </div>
</section>