<div>
    <div class="headline-container">
        <h1>Frontend</h1>
        <h1>Developer</h1>
        <div class="headline-underline">
            <hr>
            <p>Preston Jones</p>
        </div>
    </div>
    <div class="header-bottom">
        <a href="">
            <p id="header-email">mail&#64;preston-jones.de</p>
        </a>
        <div class="scroll-down">
            <img id="header-arrow" src="./../../../assets/icons/arrow.png">
            <p>Scroll</p>
            <p>Down</p>
        </div>
    </div>
</div>