<header>
    <a href="" (click)="closeMenu()">
        <img id="logo-header" src="./../../../assets/icons/logo.png">
        <span>PJ</span>
    </a>
    <div class="header-section-right">
        <div id="translate-button-container" class=" display-none">
            <span class="translate-button-en width-auto" (click)="changeLanguage('en')"
                [class.translate-button-active]="currentLang ==='en'">ENG</span>
            <span class="translate-button-divider">|</span>
            <span class="translate-button-de width-32" (click)="changeLanguage('de')"
                [class.translate-button-active]="currentLang ==='de'">DE</span>
        </div>
        <div id="burger-icon" (click)="toggleMenu()"
            [ngClass]="initialized ? (openMenu ? 'menu-icon-animation-open' : 'menu-icon-animation-close') : ''">
        </div>
    </div>
</header>
<menu [ngClass]="{'openMenu': openMenu, 'closeMenu': !openMenu, 'display-none': !initialized}">
    <div class="menu-container" [class.menu-animation]="openMenu">
        <div class="menu-content">
            <div class="menu-link">
                <a href="#aboutme" (click)="closeMenu()"><span>{{ "menu.navLinks.about" | translate }}</span></a>
            </div>
            <div class="menu-link">
                <a href="#myskills" (click)="closeMenu()"><span>{{ "menu.navLinks.skills" | translate }}</span></a>
            </div>
            <div class="menu-link">
                <a href="#portfolio" (click)="closeMenu()"><span>{{ "menu.navLinks.portfolio" | translate }}</span></a>
            </div>
            <div class="menu-link">
                <a href="#contact" (click)="closeMenu()"><span>{{ "menu.navLinks.contact" | translate }}</span></a>
            </div>
        </div>
        <div class="menu-bottom-container">

            <div class="menu-bottom-content">

                <div class="menu-bottom-wrapper">
                    <a class="mailto"
                        href="mailto:mail@prestonjones.dev?subject=Hi Preston, I've got a message for you!">
                        <span id="mailto-headline">Say Hi!</span>
                        <span id="mail-link">mail&#64;prestonjones-developer.de</span>
                    </a>
                    <div class="section-right">
                        <div class="social-links">
                            <a href="https://github.com/preston-jones" target="_blank"><img
                                    src="./../../../assets/icons/github_icon.png"></a>
                            <a href="mailto:mail@prestonjones.dev?subject=Hi Preston, I've got a message for you!"
                                target="_blank"><img src="./../../../assets/icons/email_icon.png"></a>
                            <a href="https://www.linkedin.com/in/preston-jones-25bb912b6/" target="_blank"><img
                                    src="./../../../assets/icons/linkedin_icon.png"></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</menu>