@media screen and (max-height: 800px) {
    .menu-container {
        padding-top: 0;
    }

    .menu-link {
        padding: 8px 16px;

        >a {
            line-height: normal;
            font-size: clamp(2rem, 10vw, 64px);
        }
    }

    .mailto {
        >#mailto-headline {
            font-size: clamp(1.1rem, 10vw, 48px);
        }

        >#mail-link {
            font-size: clamp(1rem, 2.4vw, 18px);
        }
    }
}

@media screen and (max-height: 700px) {
    .menu-container {
        padding-top: 0;
    }

    .menu-link {
        padding: 8px 16px;

        >a {
            line-height: normal;
            font-size: clamp(2rem, 6vw, 56px);
        }
    }

    .menu-bottom-container {
        >.menu-bottom-content {
            padding: 0 100px 72px 100px;
        }
    }
}

@media screen and (max-width: 1280px) and (max-height: 700px) {
    .menu-footer-container {
        height: 32vh;
    }
}

@media screen and (min-width: 1280px) and (max-height: 700px) {
    .menu-footer-container {
        height: 36vh;
    }
}

@media screen and (max-width: 720px) {
    .menu-footer-container {
        gap: 1rem;
        padding: 0 32px 24px;
    }

    .menu-footer-headline {
        justify-content: center;
    }

    .menu-footer-bottom {
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        >.mailto {
            align-items: flex-start;
            gap: 8px;
        }

        >.section-right {
            width: 100%;
            align-items: center;
        }
    }

}

@media screen and (max-width: 600px) {

    .menu-link {
        >a {
            line-height: normal;
        }
    }
}

@media screen and (max-width: 480px) {

    #main-menu {
        top: 77px;
        height: calc(100vh - 77px);
    }

    .menu-link {
        padding: 8px;

        >a {

            >span {
                line-height: normal;
            }
        }
    }

    .menu-bottom-container {
        >.menu-bottom-content {
            align-items: flex-start;
            padding: 32px 24px 32px !important;
        }
    }

    #burger-icon {
        width: 28px;
        height: 28px;
    }

    header {
        padding-top: 21px;
        padding-bottom: 21px;

        >a {

            #logo-header {
                height: 36px;
            }
        }
    }
}