@import url('./header.animations.scss');
@import url('./header.responsive.scss');

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #FFFCF3;
    z-index: 100;

    >a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        >span {
            font-family: 'Overpass', sans-serif;
            font-weight: 400;
            font-size: 28px;
            line-height: 28px;
            color: #1b1819;
        }

        >#logo-header {
            height: 40px;
            object-fit: contain;

            &:hover {
                cursor: pointer;
            }
        }
    }

    >.header-section-right {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
}

#translate-button-container {
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.translate-button-de,
.translate-button-en {
    font-family: Overpass;
    font-size: 21px;
    line-height: 21px;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
        font-weight: bold;
        color: #FF9900;
    }
}

.translate-button-active {
    font-weight: bold;
    color: #FF9900;
}

.translate-button-divider {
    font-family: Overpass;
    font-size: 21px;
    line-height: 21px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4px;
}

.width-auto {
    width: auto;
}

.width-32 {
    width: 32px;
}

#burger-icon {
    height: 32px;
    width: 32px;
    object-fit: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('./../../../assets/animation/menue_default.png');

    &:hover {
        cursor: pointer;
    }

    &.menu-icon-animation-open {
        animation: icon-animate-open 0.5s ease-in-out forwards;
    }

    &.menu-icon-animation-close {
        animation: icon-animate-close 0.5s ease-in-out forwards;
    }
}

menu {
    position: absolute;
    top: 100px;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: calc(100vh - 100px);
    background-color: #FFFCF3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 0.25s ease-in-out;
    z-index: 1;
}

.openMenu {
    animation: menu-slide-in 225ms ease-in-out forwards;
}

.closeMenu {
    animation: menu-slide-out 225ms ease-in-out forwards;
}

.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    width: 100%;
    height: 100vh;
    padding-top: 32px;

    >.menu-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;
        height: 55vh;
    }
}

.menu-bottom-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 45vh;
    max-height: 400px;

    background-image: url('./../../../assets/imgs/rectangle.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    >.menu-bottom-content {
        max-width: 1440px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #FFFCF3;
        padding: 0 100px 24px 100px;
    }
}

.menu-bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.menu-link {
    position: relative;
    padding: 16px;
    background-image: url('../../../assets/animation/link_hover_default.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: background-image 125ms ease-in-out;
    background-position-y: bottom;
    background-position-x: left;
    transition: color 125ms ease-in-out;

    >a {
        font-family: Syne;
        font-weight: 700;
        font-size: clamp(2rem, 10vw, 72px);
        line-height: 72px;
        color: #1b1819;
    }

    &:hover {
        animation: link-hover-animation 0.15s ease-in-out forwards;
        transition: color 125ms ease-in-out;
        cursor: pointer;

        >a {
            color: #FF9900;
            transition: color 125ms ease-in-out;
        }
    }

    &:not(:hover) {
        animation: link-hover-animation-reverse 125ms ease-in-out forwards;
    }

    &.active {
        background-image: url('../../../assets/animation/link_hover_active.png');
    }
}


.menu-icon-animation-open {
    animation: icon-animate-open 0.5s ease-in-out forwards;
    z-index: 2;
    background-size: cover;
}

.menu-icon-animation-close {
    animation: icon-animate-close 0.5s ease-in-out forwards;
    z-index: 2;
    background-size: cover;
}

.mailto {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 16px;
    transition: color 125ms ease-in-out;

    >#mailto-headline {
        font-family: 'Syne', sans-serif;
        font-weight: 800;
        // font-size: 56px;
        font-size: clamp(1.1rem, 10vw, 56px);
        line-height: 56px;
    }

    >#mail-link {
        font-family: Overpass;
        font-weight: 300;
        font-size: clamp(1rem, 5.4vw, 21px);
        line-height: 23px;
    }

    &:hover {
        cursor: pointer;
        color: #FF9900;
        transition: color 125ms ease-in-out;
    }
}

.section-right {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;

    >.social-links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 42px;

        >a {
            display: flex;
            justify-content: center;
            align-items: center;
            transition: transform 125ms ease-in-out;

            &:hover {
                transition: transform 125ms ease-in-out;
                transform: translateY(-10px);
            }
        }

        >img {
            width: 40px;
            height: 40px;
            object-fit: contain;
        }
    }
}