<header>
    <a href="#top" (click)="closeMenu()"><img id="logo-header" src="./../../../assets/icons/logo.png"></a>
    <div id="burger-icon" (click)="toggleMenu()"
        [ngClass]="initialized ? (openMenu ? 'menu-icon-animation-open' : 'menu-icon-animation-close') : ''"></div>
</header>
<menu [ngClass]="openMenu ? 'openMenu' : 'closeMenu'">
    <div id="menu-container" [class.menu-animation]="openMenu">
        <div id="menu-content">
            <div class="menu-link">
                <a href="#aboutme" (click)="closeMenu()"><span>About me</span></a>
            </div>
            <div class="menu-link">
                <a href="#myskills" (click)="closeMenu()"><span>My skills</span></a>
            </div>
            <div class="menu-link">
                <a href="#portfolio" (click)="closeMenu()"><span>Portfolio</span></a>
            </div>
            <div class="menu-link">
                <a href="#contact" (click)="closeMenu()"><span>Contact</span></a>
            </div>
        </div>
    </div>
    <div class="menu-bottom">
        <a class="mailto" href="mailto:mail@prestonjones-developer.de?subject=Hi Preston 👋🏼, I've got a project to talk about!">
                <span id="mailto-headline">Say Hi!</span>
                <span id="mail-link">mail&#64;prestonjones-developer.de</span>
        </a>
        <div class="section-right">
            <div class="social-links">
                <a href="https://github.com/preston-jones" target="_blank"><img
                        src="./../../../assets/icons/github_icon.png"></a>
                <a href="" target="_blank"><img src="./../../../assets/icons/email_icon.png"></a>
                <a href="" target="_blank"><img src="./../../../assets/icons/linkedin_icon.png"></a>
            </div>
        </div>

    </div>
</menu>