@media screen and (max-height: 720px) {
    .menu-container {
        padding-top: 0;
    }
}

@media screen and (max-width: 768px) {

    .menu-bottom-container {
        >.menu-bottom-content {
            max-height: 400px;
            justify-content: flex-end;
            align-items: center;
            flex-direction: column;
            gap: 32px;

            >a {
                align-items: center;
            }
        }
    }
}

@media screen and (max-width: 600px) {

    .menu-link {
        >a {
            line-height: normal;
        }
    }
}

@media screen and (max-width: 480px) {

    menu {
        top: 77px;
        height: calc(100vh - 77px);
    }

    .menu-link {
        padding: 8px;

        >a {

            >span {
                line-height: normal;
            }
        }
    }

    .menu-bottom-container {
        >.menu-bottom-content {
            padding: 0 32px 24px 32px !important;
        }
    }

    #burger-icon {
        width: 28px;
        height: 28px;
    }

    header {
        padding-top: 21px;
        padding-bottom: 21px;

        >a {

            #logo-header {
                height: 36px;
            }
        }
    }
}