<section id="imprint" aria-labelledby="imprint-title">
    <div class="content">
        <h2 id="imprint-title">{{ "imprint.title" | translate }}</h2>
        <div>
            <p>
                {{ "imprint.subtitle" | translate }}
                <br>
                <br>
                <strong>Preston Jones</strong><br>
                <strong>Unterlauterbach 4</strong><br>
                <strong>82393 Iffeldorf</strong><br>
                <br>
                Telefon: <a href="tel:+4915234237664" aria-label="Telefonnummer anrufen: +49 152 34 23 76 64">+49 152 34 23 76 64</a>
                <br>
                E-Mail: <a href="mailto:mail@prestonjones.dev?subject=Hi Preston, I've got a message for you!"
                    target="_blank" aria-label="E-Mail senden an mail@prestonjones.dev (Öffnet E-Mail-Programm)">mail&#64;prestonjones.dev</a>
            </p>
        </div>
    </div>
</section>
<app-contact></app-contact>