<section id="privacy" aria-labelledby="privacy-title">
    <div class="content">
        <h2 id="privacy-title">{{ "privacy.title" | translate }}</h2>
        <p>
            {{ "privacy.preamble.paragraph1" | translate }}
            <br>
            <br>
            {{ "privacy.preamble.paragraph2" | translate }}
            <br>
            <br>
            {{ "privacy.preamble.paragraph3" | translate }}
            <br>
            <br>
            {{ "privacy.preamble.structure.title" | translate }}
            <br>
            <br>
            {{ "privacy.preamble.structure.list.section1" | translate }}<br>
            {{ "privacy.preamble.structure.list.section2" | translate }}<br>
            {{ "privacy.preamble.structure.list.section3" | translate }}<br>
        </p>
        <div>
            <h3 id="privacy-section1">{{ "privacy.section1.title" | translate }}</h3>
            <p>
                {{ "privacy.section1.paragraph1" | translate }}
                <br>
                <br>
                <strong>Preston Jones</strong><br>
                <strong>Unterlauterbach 4</strong><br>
                <strong>82393 Iffeldorf</strong><br>
                <br>
                {{ "privacy.section1.phone" | translate }}<a href="tel:+4915234237664" aria-label="Telefonnummer anrufen: +49 152 34 23 76 64">+49 152 34 23 76 64</a>
                <br>
                {{ "privacy.section1.mail" | translate }}<a
                    href="mailto:mail@prestonjones.dev?subject=Hi Preston, I've got a message for you!"
                    target="_blank" aria-label="E-Mail senden an mail@prestonjones.dev (Öffnet E-Mail-Programm)">mail&#64;prestonjones.dev</a>
            </p>
        </div>
        <div>
            <h3 id="privacy-section2">{{ "privacy.section2.title" | translate }}</h3>
            <p>
                {{ "privacy.section2.paragraph1" | translate }}
                <br>
                <br>
            </p>
            <ul aria-labelledby="privacy-section2">
                <li>{{ "privacy.section2.list.point1" | translate }}<span aria-hidden="true">&#59;</span>
                </li>
                <li>{{ "privacy.section2.list.point2" | translate }}<span aria-hidden="true">&#59;</span>
                </li>
                <li>{{ "privacy.section2.list.point3" | translate }}<span aria-hidden="true">&#59;</span>
                </li>
                <li>{{ "privacy.section2.list.point4" | translate }}<span aria-hidden="true">&#59;</span>
                </li>
                <li>{{ "privacy.section2.list.point5" | translate }}
                </li>
            </ul>
            <br>
            <br>
            <p>
                {{ "privacy.section2.paragraph2" | translate }}
                <br>
                <br>
                {{ "privacy.section2.paragraph3" | translate }}
            </p>
        </div>
        <div>
            <h3 id="privacy-section3">{{ "privacy.section3.title" | translate }}</h3>
            <p>
                {{ "privacy.section3.paragraph1" | translate }}
                <br>
                <br>
                <span><strong>{{ "privacy.section3.paragraph2.title" | translate }}</strong></span>
                <br>
                <br>
                {{ "privacy.section3.paragraph2.content1" | translate }}
                <br>
                <br>
                {{ "privacy.section3.paragraph2.content2" | translate }}
                <br>
                <br>
                {{ "privacy.section3.paragraph2.content3" | translate }}
                <br>
                <br>
                <span><strong>{{ "privacy.section3.paragraph3.title" | translate }}</strong></span>
                <br>
                <br>
                {{ "privacy.section3.paragraph3.content" | translate }}
                <br>
                <br>
                <span><strong>{{ "privacy.section3.paragraph4.title" | translate }}</strong></span>
                <br>
                <br>
                {{ "privacy.section3.paragraph4.content" | translate }}
            </p>
        </div>
    </div>
</section>
<app-contact></app-contact>