@media screen and (max-width: 480px) {

    section {
        padding-top: 150px;
    
        >.content {
    
            >h2 {
                line-height: normal;
            }

            >div {
        
                >h3 {
                    line-height: normal;
                }
            }
        }
    }
}