<section>
    <div class="content">
        <h2>Datenschutz-Erklärung</h2>
        <p>
            Personenbezogene Daten (nachfolgend zumeist nur "Daten" genannt) werden von uns nur im Rahmen der
            Erforderlichkeit sowie zum Zwecke der Bereitstellung eines funktionsfähigen und nutzerfreundlichen
            Internetauftritts, inklusive seiner Inhalte und der dort angebotenen Leistungen, verarbeitet.
            <br>
            <br>
            Gemäß Art. 4 Ziffer 1. der Verordnung (EU) 2016/679, also der Datenschutz-Grundverordnung (nachfolgend
            nur
            "DSGVO" genannt), gilt als "Verarbeitung" jeder mit oder ohne Hilfe automatisierter Verfahren
            ausgeführter
            Vorgang oder jede solche Vorgangsreihe im Zusammenhang mit personenbezogenen Daten, wie das Erheben, das
            Erfassen, die Organisation, das Ordnen, die Speicherung, die Anpassung oder Veränderung, das Auslesen,
            das
            Abfragen, die Verwendung, die Offenlegung durch Übermittlung, Verbreitung oder eine andere Form der
            Bereitstellung, den Abgleich oder die Verknüpfung, die Einschränkung, das Löschen oder die Vernichtung.
            <br>
            <br>
            Mit der nachfolgenden Datenschutzerklärung informieren wir Sie insbesondere über Art, Umfang, Zweck,
            Dauer und
            Rechtsgrundlage der Verarbeitung personenbezogener Daten, soweit wir entweder allein oder gemeinsam mit
            anderen
            über die Zwecke und Mittel der Verarbeitung entscheiden. Zudem informieren wir Sie nachfolgend über die
            von uns
            zu Optimierungszwecken sowie zur Steigerung der Nutzungsqualität eingesetzten Fremdkomponenten, soweit
            hierdurch
            Dritte Daten in wiederum eigener Verantwortung verarbeiten.
            <br>
            <br>
            Unsere Datenschutzerklärung ist wie folgt gegliedert:
            <br>
            <br>
            1. Informationen über uns als Verantwortliche<br>
            2. Rechte der Nutzer und Betroffenen<br>
            3. Informationen zur Datenverarbeitung<br>
        </p>
        <div>
            <h3>I. Informationen über uns als Verantwortliche</h3>
            <p>
                Verantwortlicher Anbieter dieses Internetauftritts im datenschutzrechtlichen Sinne ist:
                <br>
                <br>
                <strong>Preston Jones</strong><br>
                <strong>Unterlauterbach 4</strong><br>
                <strong>82393 Iffeldorf</strong><br>
                <br>
                Telefon: <a href="tel:+4915234237664">+49 152 34 23 76 64</a>
                <br>
                E-Mail: <a href="mailto:mail@prestonjones.dev?subject=Hi Preston, I've got a message for you!" target="_blank">mail&#64;prestonjones.dev</a>
            </p>
        </div>
        <div>
            <h3>II. Rechte der Nutzer und Betroffenen</h3>
            <p>
                Mit Blick auf die nachfolgend noch näher beschriebene Datenverarbeitung haben die Nutzer und Betroffenen
                das
                Recht
                <br>
                <br>
            </p>
            <ul>
                <li>auf Bestätigung, ob sie betreffende Daten verarbeitet werden, auf Auskunft über die verarbeiteten
                    Daten,
                    auf
                    weitere Informationen über die Datenverarbeitung sowie auf Kopien der Daten (vgl. auch Art. 15
                    DSGVO);
                </li>
                <li>auf Berichtigung oder Vervollständigung unrichtiger bzw. unvollständiger Daten (vgl. auch Art. 16
                    DSGVO);
                </li>
                <li>auf unverzügliche Löschung der sie betreffenden Daten (vgl. auch Art. 17 DSGVO), oder, alternativ,
                    soweit
                    eine
                    weitere Verarbeitung gemäß Art. 17 Abs. 3 DSGVO erforderlich ist, auf Einschränkung der Verarbeitung
                    nach
                    Maßgabe von Art. 18 DSGVO;
                </li>
                <li>auf Erhalt der sie betreffenden und von ihnen bereitgestellten Daten und auf Übermittlung dieser
                    Daten
                    an
                    andere
                    Anbieter/Verantwortliche (vgl. auch Art. 20 DSGVO);
                <li>auf Beschwerde gegenüber der Aufsichtsbehörde, sofern sie der Ansicht sind, dass die sie
                    betreffenden
                    Daten
                    durch den Anbieter unter Verstoß gegen datenschutzrechtliche Bestimmungen verarbeitet werden (vgl.
                    auch
                    Art.
                    77
                    DSGVO).
                </li>
            </ul>
            <br>
            <br>
            <p>
                Darüber hinaus ist der Anbieter dazu verpflichtet, alle Empfänger, denen gegenüber Daten durch den
                Anbieter
                offengelegt worden sind, über jedwede Berichtigung oder Löschung von Daten oder die Einschränkung der
                Verarbeitung, die aufgrund der Artikel 16, 17 Abs. 1, 18 DSGVO erfolgt, zu unterrichten. Diese
                Verpflichtung
                besteht jedoch nicht, soweit diese Mitteilung unmöglich oder mit einem unverhältnismäßigen Aufwand
                verbunden
                ist. Unbeschadet dessen hat der Nutzer ein Recht auf Auskunft über diese Empfänger.
                <br>
                <br>
                Ebenfalls haben die Nutzer und Betroffenen nach Art. 21 DSGVO das Recht auf Widerspruch gegen die
                künftige
                Verarbeitung der sie betreffenden Daten, sofern die Daten durch den Anbieter nach Maßgabe von Art. 6
                Abs. 1
                lit.
                f) DSGVO verarbeitet werden. Insbesondere ist ein Widerspruch gegen die Datenverarbeitung zum Zwecke der
                Direktwerbung statthaft.
            </p>
        </div>
        <div>
            <h3>III. Informationen zur Datenverarbeitung</h3>
            <p>
                Ihre bei Nutzung unseres Internetauftritts verarbeiteten Daten werden gelöscht oder gesperrt, sobald der
                Zweck
                der Speicherung entfällt, der Löschung der Daten keine gesetzlichen Aufbewahrungspflichten
                entgegenstehen
                und
                nachfolgend keine anderslautenden Angaben zu einzelnen Verarbeitungsverfahren gemacht werden.
                <br>
                <br>
                <span>Kontaktmöglichkeit</span>
                Sofern Sie per Kontaktformular oder E-Mail mit uns in Kontakt treten, werden die dabei von Ihnen
                angegebenen
                Daten zur Bearbeitung Ihrer Anfrage genutzt. Die Angabe der Daten ist zur Bearbeitung und Beantwortung
                Ihre
                Anfrage erforderlich - ohne deren Bereitstellung können wir Ihre Anfrage nicht oder allenfalls
                eingeschränkt
                beantworten.
                <br>
                <br>
                Rechtsgrundlage für diese Verarbeitung ist Art. 6 Abs. 1 lit. b) DSGVO.
                <br>
                <br>
                Ihre Daten werden gelöscht, sofern Ihre Anfrage abschließend beantwortet worden ist und der Löschung
                keine
                gesetzlichen Aufbewahrungspflichten entgegenstehen, wie bspw. bei einer sich etwaig anschließenden
                Vertragsabwicklung.

                <span>LinkedIn</span>
                LinkedIn Ireland Unlimited Company, Wilton Plaza, Wilton Place, Dublin 2, Irland, ein Tochterunternehmen
                der
                LinkedIn Corporation, 1000 W. Maude Avenue, Sunnyvale, CA 94085 USA.

                <span>GitHub</span>
                GitHub, Inc., 88 Colin P Kelly Jr Street, San Francisco, CA 94107, USA, ein Tochterunternehmen der
                Microsoft
                Corporation.
            </p>
        </div>
    </div>
</section>
<app-contact></app-contact>