<div class="about-me-textblock">
    <h2>About me</h2>
    <p>
        I am a software engineer with a passion for web development. I have experience in developing web applications
        using Angular, React, and Vue.js. I am also proficient in backend development using Node.js, Express.js, and
        MongoDB. I have a strong understanding of software development principles and best practices. I am a quick
        learner and always eager to learn new technologies.
        <br>
        <br>
        If you think I’d be a good match for your projects, contact me
        </p>
        <button id="lets-talk-btn"><span>Let's talk</span></button>
</div>
<img src="./../../../assets/portrait.png" alt="About me" class="about-me-image">