.headline {
    margin-bottom: 64px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    >h2 {
        font-weight: 800;
        font-size: 78px;
        line-height: 78px;
        text-align: left;
    }
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 52px;
}

.textblock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 52px;

    >p {
        text-wrap: wrap;
        font-weight: 400;
        font-size: 23px;
        line-height: 27.6px;
    }
}

.img-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 533px;
    height: 533px;
}

img {
    width: 533px;
    height: 533px;
    object-fit: contain;
}

.frame {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 513px;
    height: 513px;
}

[data-aos="draw-img-frame"] {
    opacity: 0;
    border: #000000 4px solid;
    mask:
        conic-gradient(from 180deg at top 4px right 4px, #0000 90deg, #000 0) var(--_i, 200%) 0 /200% var(--_i, 4px) border-box no-repeat,
        conic-gradient(at bottom 4px left 4px, #0000 90deg, #000 0) 0 var(--_i, 200%)/var(--_i, 4px) 200% border-box no-repeat,
        linear-gradient(#000 0 0) padding-box no-repeat;
    transition: 125ms, mask-position 125ms 125ms;

    &.aos-animate {
        opacity: 1;
        --_i: 100%;
        transition: 125ms, mask-size 125ms 125ms;
    }
}