@import url('./about-me.responsive.scss');

section {
    padding-top: 110px;
}

.headline {
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;

    >h2 {
        font-weight: 800;
        font-size: 72px;
        line-height: 72px;
        text-align: left;
    }
}

#aboutme-quote {
    font-family: 'Rock Salt';
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 64px;
}

.content {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.textblock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // gap: 52px;

    >.introduction {
        margin-bottom: 16px;
    }

    >p {
        font-family: Overpass;
        text-wrap: wrap;
        font-weight: 400;
        font-size: 21px;
        line-height: 135%;
        margin: 0;
        width: 100%;
        text-align: left;
    }

    >.introduction::first-letter {
        font-size: 36px;
        font-weight: 800;
        color: #1b1819;
    }

    >.btn-prim {
        margin-top: 32px;
    }
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../assets/imgs/background-profil.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    height: 100%;
}

img {
    width: 540px;
    height: 100%;
    object-fit: contain;
    z-index: 1;
    filter: drop-shadow(1px -4px 10px #1b181983);
    // filter: drop-shadow(0 0 0.75rem crimson);
}

.frame {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 591px;
    height: 100%;
    background-image: url(../../../assets/imgs/background-profil.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    right: 0;
}