<div class="section-container">
    <div class="headline">
        <h2>About me</h2>
    </div>
    <div class="content">
        <div class="textblock">
            <p>
                I am a software engineer with a passion for web development. I have experience in developing web
                applications
                using Angular, React, and Vue.js. I am also proficient in backend development using Node.js, Express.js,
                and
                MongoDB. I have a strong understanding of software development principles and best practices. I am a
                quick
                learner and always eager to learn new technologies.
                <br>
                <br>
                If you think I’d be a good match for your projects, contact me
            </p>
            <button class="btn-prim">Let's talk</button>
        </div>
        <div class="img-container">
            <img src="./../../../assets/portrait.png" alt="About me" class="image">
            <div class="frame draw-frame-effect"></div>
        </div>
    </div>
</div>