section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
}

[data-aos="arrow-left-animation"] {
    height: 300px;
    background-image: url('./../../../assets/animation/arrow_left_default.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 200px;

    &.aos-animate {
        animation: arrow-diagonal-left 250ms ease-in-out forwards;
    }
}

[data-aos="arrow-right-animation"] {
    height: 300px;
    background-image: url('./../../../assets/animation/arrow_right_default.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 200px;

    &.aos-animate {
        animation: arrow-diagonal-right 250ms ease-in-out forwards;
    }
}

@keyframes arrow-diagonal-left {
    0% {
        background-image: url('./../../../assets/animation/arrow_left_default.png');
    }

    50% {
        background-image: url('./../../../assets/animation/arrow_left_var1.png');
    }

    100% {
        background-image: url('./../../../assets/animation/arrow_left_var2.png');
    }
}

@keyframes arrow-diagonal-right {
    0% {
        background-image: url('./../../../assets/animation/arrow_right_default.png');
    }

    50% {
        background-image: url('./../../../assets/animation/arrow_right_var1.png');
    }

    100% {
        background-image: url('./../../../assets/animation/arrow_right_var2.png');
    }
}