[data-aos="arrow-left-animation"] {
    height: 300px;
    background-image: url('./../../../assets/animation/arrow_left_default.png');
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 200px;
    transition: opacity 125ms ease-in-out;
    opacity: 0;

    &.aos-animate {
        animation-delay: 0.7s;
        animation: arrow-diagonal-left 250ms ease-in-out forwards;
        transition: opacity 125ms ease-in-out;
        opacity: 1;
    }
}

[data-aos="arrow-right-animation"] {
    height: 300px;
    background-image: url('./../../../assets/animation/arrow_right_default.png');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 200px;
    transition: opacity 125ms ease-in-out;
    opacity: 0;

    &.aos-animate {
        animation-delay: 0.7s;
        animation: arrow-diagonal-right 250ms ease-in-out forwards;
        transition: opacity 125ms ease-in-out;
        opacity: 1;
    }
}

// [data-aos="opacity"] {
//     opacity: 0;

//     &.aos-animate {
//         transition: all 125ms ease-in-out;
//         opacity: 1;
//     }
// }

@keyframes arrow-diagonal-left {
    0% {
        background-image: url('./../../../assets/animation/arrow_left_default.png');
    }

    50% {
        background-image: url('./../../../assets/animation/arrow_left_var1.png');
    }

    100% {
        background-image: url('./../../../assets/animation/arrow_left_var2.png');
    }
}

@keyframes arrow-diagonal-right {
    0% {
        background-image: url('./../../../assets/animation/arrow_right_default.png');
    }

    50% {
        background-image: url('./../../../assets/animation/arrow_right_var1.png');
    }

    100% {
        background-image: url('./../../../assets/animation/arrow_right_var2.png');
    }
}