@import url('./main-content.responsive.scss');

app-above-the-fold {
    height: 100vh;
    // margin-bottom: 156px;
}

app-contact {
    background-image: url('./../../assets/imgs/rectangle.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

#aboutme, #myskills, #portfolio {
    scroll-margin-top: 110px;
}

#contact {
    scroll-margin-top: 30px;
}