<section id="myskills">
    <div class="headline">
        <h2>My skills</h2>
    </div>
    <div class="content">
        <div class="skills">
            <div class="skill" data-aos="zoom-in" data-aos-duration="1000">
                <img src="./../../../assets/icons/angular.png">
                <p>Angular</p>
            </div>
            <div class="skill" data-aos="zoom-in" data-aos-duration="1000">
                <img src="./../../../assets/icons/typescript.png">
                <p>TypeScript</p>
            </div>
            <div class="skill" data-aos="zoom-in" data-aos-duration="1000">
                <img src="./../../../assets/icons/javascript.png">
                <p>JavaScript</p>
            </div>
            <div class="skill" data-aos="zoom-in" data-aos-duration="1000">
                <img src="./../../../assets/icons/html.png">
                <p>HTML</p>
            </div>
            <div class="skill" data-aos="zoom-in" data-aos-duration="1000">
                <img src="./../../../assets/icons/css.png">
                <p>CSS</p>
            </div>
            <div class="skill" data-aos="zoom-in" data-aos-duration="1000">
                <img src="./../../../assets/icons/firebase.png">
                <p>Firebase</p>
            </div>
            <div class="skill" data-aos="zoom-in" data-aos-duration="1000">
                <img src="./../../../assets/icons/git.png">
                <p>Git</p>
            </div>
            <div class="skill" data-aos="zoom-in" data-aos-duration="1000">
                <img src="./../../../assets/icons/scrum.png">
                <p>Scrum</p>
            </div>
            <div class="skill" data-aos="zoom-in" data-aos-duration="1000">
                <img src="./../../../assets/icons/rest_api.png">
                <p>Rest-Api</p>
            </div>
            <div class="skill" data-aos="zoom-in" data-aos-duration="1000">
                <img src="./../../../assets/icons/materialdesign.png">
                <p>Material design</p>
            </div>
        </div>
    </div>
</section>