@media screen and (max-width: 960px) {

    section {
        padding-top: 0;
    }
}

@media screen and (max-width: 870px) {
    
    .skill {
        >img {
            height: 65px;
        }
    }
}

@media screen and (max-width: 690px) {

    .skill {
        >img {
            height: 56px;
        }
    }
}

@media screen and (max-width: 540px) {

    .skill {
        >img {
            height: 48px;
        }
    }
}

@media screen and (max-width: 480px) {

    .content {
        padding: 80px 0px;
        gap: 32px;
    }

    .skill {
        flex: none;

        >img {
            // height: 36px;
        }
    }
}