<div class="section-container">
    <div class="headline">
        <h2>My skills</h2>
    </div>
    <div class="content">
        <div class="skills-row-top">
            <img src="./../../../assets/icons/skill.png">
            <img src="./../../../assets/icons/skill.png">
            <img src="./../../../assets/icons/skill.png">
            <img src="./../../../assets/icons/skill.png">
            <img src="./../../../assets/icons/skill.png">
            <img src="./../../../assets/icons/skill.png">
            <img src="./../../../assets/icons/skill.png">
            <img src="./../../../assets/icons/skill.png">
        </div>
    </div>
</div>