<div class="project-template-container">
    <div class="project-template" [class.flex-row-reverse]="evenNumber" (mouseenter)="onMouseEnter()"
        (mouseleave)="onMouseLeave()">
        <a href="{{ this.currentProjectData.links[0].url }}" target="_blank"><img
                src='{{ this.currentProjectData.img }}' class="filter-grayscale" [class.filter-color]="mouseEnter"></a>
        <!-- <div class="frame draw-img-frame-effect"
            [ngClass]="{'frame-left draw-img-frame-effect-start' : mouseEnter && !evenNumber}"
            [ngClass]="{'frame-right draw-img-frame-effect-start' : mouseEnter && evenNumber}">
        </div> -->
        <div class="project-info" [class.slide-in-left-animation]="mouseEnter && evenNumber"
            [class.slide-in-right-animation]="mouseEnter && !evenNumber" [class.project-info-default]="!evenNumber"
            [class.project-info-reverse]="evenNumber">
            <div class="project-info-content">
                <h3 class="font-syne">{{ this.currentProjectData.title }}</h3>
                <span class="languages">
                    @for(language of currentProjectData.languages; track language; let index = $index){
                    <p>{{ this.currentProjectData.languages[index] }}</p>
                    @if (this.currentProjectData.languages.length > 1 && index <
                        this.currentProjectData.languages.length - 1) { <p>|</p>
                        }
                        }
                </span>
                <p class="description">{{ this.currentProjectData.description }}</p>
                <div class="project-links">
                    @for(link of currentProjectData.links; track link; let index = $index){
                    <button class="projectlink-btn"><a href="{{ this.currentProjectData.links[index].url }}"
                            target="_blank">{{ currentProjectData.links[index].title }}</a></button>

                    }
                </div>
            </div>
            <img src="./../../../assets/icons/arrow-project.png" id="arrow-project">
        </div>
    </div>
    <div class="project-counter font-syne" [ngClass]="evenNumber ? 'project-counter-left' : 'project-counter-right'">
        <p>{{ this.formatNumber(this.currentProjectIndex ?? 0) }}/{{ this.formatNumber(this.projectsLength) }}</p>
    </div>
</div>