@media screen and (max-width: 1200px) {

    .project-template {

        align-items: flex-start;

        >.project-info,
        .project-info-default {
            padding: 0;
        }

        >.frame {
            width: 560px;
            height: auto;
        }
    }
}

@media screen and (max-width: 1120px) {

    .project-links {
        .projectlink-btn {
            height: 56px;
        }
    }
}

@media screen and (max-width: 960px) {

    .project-template,
    .flex-row-reverse {
        align-items: center;
        flex-direction: column;
    }

    .project-template {
        align-items: center;
        flex-direction: column;
        padding-top: 56px;
        height: 640px;
    }
}

@media screen and (max-width: 480px) {

    .project-template {
        padding-top: 36px;
    }

    .project-counter {
        font-size: 28px;
        line-height: 28px;
    }

    .project-info-content {
        width: 100%;
        font-size: 18px;
    }

    .project-info-content {

        >h3 {
            font-size: 1.8rem;
            line-height: 21px;
        }
    }

    .technologie-list {
        font-size: 19px;
        line-height: 19px;
    }

    .project-links {

        .projectlink-btn {
            font-size: 1.05rem;
            height: 48px;
        }
    }
}

@media screen and (max-width: 420px) {

    .project-template {
        padding-top: 0px;
    }

    // .project-info {
    //     margin-top: -100px;
    // }

    .project-info-content {
        margin-top: -100px;
        >h3 {
            font-size: 28px;
            line-height: 21px;
        }
    }
}

@media screen and (max-width: 320px) {


}