@import url('./project-template.responsive.scss');
@import url('./project-template.animations.scss');

.project-template-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 120px;
}

.project-template {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 400px;
    // gap: 64px;

    >a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: all 225ms ease-in-out;
        filter: grayscale(100%);

        &:hover {
            transform: scale(1.025);
            animation: drop-shadow-animation 225ms ease-in-out forwards;
            transition: all 225ms ease-in-out;
        }

        &:not(:hover) {
            animation: drop-shadow-animation-reverse 225ms ease-in-out forwards;
        }
    }
}

.project-img {
    display: flex;
    align-items: center;
    width: 620px;
    height: 345px;
    object-fit: cover;
    // padding: 20px 0;
    z-index: 1;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.project-counter {
    position: absolute;
    top: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
}

.project-counter-right {
    right: 0;
}

.project-counter-left {
    left: 0;
}

.project-info-reverse {
    flex-direction: row;

    >.project-info-content {
        align-items: flex-end;

        >.description {
            text-align: right;
        }
    }
}

.project-info-default {
    flex-direction: row-reverse;

    >.project-info-content {
        align-items: flex-start;

        >.description {
            text-align: left;
        }
    }
}

.project-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    >span,
    p {
        font-family: 'Overpass', sans-serif;
        text-align: center;
    }
}

.project-info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 21px;
    height: 339px;
    width: clamp(360px, 80%, 450px);

    >h3 {
        font-weight: 800;
        font-size: 40px;
        line-height: 40px;
    }

    >.description {
        font-weight: 400;
        font-size: 16px;
        line-height: 19.2px;
    }

    >.technologies {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        font-weight: 400;
        font-size: 21px;
        line-height: 23px;
        color: #FF9900;

        >.technologie-list {
            font-family: 'Overpass', sans-serif;
            line-height: 32px;
        }
    }
}

.project-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    >.projectlink-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        // width: 180px;
        width: 36%;
        height: 64px;
        border: #1b1819 4px solid;
        // padding: 20px 60px;
        padding: 16px 48px;
        padding-left: 50px;
        background-color: transparent;
        font-weight: 400;
        // font-size: 21px;
        font-size: 1.2rem;
        line-height: 23px;
        white-space: nowrap;
        transition: all 125ms ease-in-out;
        box-shadow: 9px 9px 2px #9191916e;

        &:hover {
            cursor: pointer;
            transition: all 125ms ease-in-out;
            font-weight: 700;
        }

        &:hover:nth-child(odd) {
            width: 45%;
            padding-left: 50px;
        }

        &:hover:nth-child(even) {
            width: 45%;
            padding-right: 50px;
        }
    }
}

.project-links-left {
    align-items: flex-end;
}

.project-links-right {
    align-items: flex-start;
}

.slide-in-right-animation {
    animation: slide-in-right 0.4s forwards ease-out;
    transform: translateX(-30%);
}

.slide-in-left-animation {
    animation: slide-in-left 0.4s forwards ease-out;
    transform: translateX(30%);
}

.draw-img-frame-effect {
    opacity: 0;
    border: #1b1819 4px solid;
    mask:
        conic-gradient(from 180deg at top 4px right 4px, #0000 90deg, #000 0) var(--_i, 200%) 0 /200% var(--_i, 4px) border-box no-repeat,
        conic-gradient(at bottom 4px left 4px, #0000 90deg, #000 0) 0 var(--_i, 200%)/var(--_i, 4px) 200% border-box no-repeat,
        linear-gradient(#000 0 0) padding-box no-repeat;
    transition: 125ms, mask-position 125ms 125ms;
}