<div class="project-template-container">
    <div class="project-template" [class.flex-row-reverse]="evenNumber" (mouseenter)="onMouseEnter()"
        (mouseleave)="onMouseLeave()">
        <a href="{{ this.currentProjectData.links[0].url }}" target="_blank" data-aos="zoom-in"
            data-aos-duration="1000">
            <img src='{{ this.currentProjectData.img }}' class="filter-grayscale project-img"
                [attr.data-aos]="'change-to-color'" data-aos-duration="1000">
            <div class="frame draw-img-frame-effect" [ngClass]="evenNumber ? 'frame-right' : 'frame-left'">
            </div>
        </a>
        <div class="project-info" [class.project-info-default]="!evenNumber" [class.project-info-reverse]="evenNumber"
            [attr.data-aos]="evenNumber ? 'fade-left' : 'fade-right'" data-aos-duration="1000">
            <div class="project-info-content">
                <h3 class="font-syne">{{ this.currentProjectData.title }}</h3>
                <span class="languages">
                    @for(language of currentProjectData.languages; track language; let index = $index){
                    <p>{{ this.currentProjectData.languages[index] }}</p>
                    @if (this.currentProjectData.languages.length > 1 && index <
                        this.currentProjectData.languages.length - 1) { <p>|</p>
                        }
                        }
                </span>
                <p class="description">{{ this.currentProjectData.description }}</p>
                <div class="project-links" [ngClass]="evenNumber ? 'project-links-left' : 'project-links-right'">
                    @for(link of currentProjectData.links; track link; let index = $index){
                    <a class="projectlink-btn" href="{{ this.currentProjectData.links[index].url }}" target="_blank">{{
                        currentProjectData.links[index].title }}</a>

                    }
                </div>
            </div>
            <div class="project-counter font-syne"
                [ngClass]="evenNumber ? 'project-counter-left' : 'project-counter-right'">
                <p>{{ this.formatNumber(this.currentProjectIndex ?? 0) }}/{{ this.formatNumber(this.projectsLength) }}
                </p>
            </div>
        </div>
    </div>
</div>