.project-template-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.project-template {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    // flex-direction: row-reverse; /* if project index is odd */

    >img {
        max-width: 620px;
        object-fit: contain;
        padding: 20px 0;
        z-index: 1;
    }
}

.frame {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 620px;
    height: 393px;
    z-index: 2;
}

.frame-left {
    top: 20px;
    left: 20px;
}

.frame-right {
    top: 20px;
    right: 20px;
}

.filter-grayscale {
    filter: grayscale(100%);
}

[data-aos="change-to-color"] {
    // filter: grayscale(100%);

    &.aos-animate {
        filter: grayscale(0%);
    }
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.project-counter {
    position: absolute;
    top: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 57.6px;
}

.project-counter-right {
    right: 0;
}

.project-counter-left {
    left: 0;
}

.project-info-reverse {
    flex-direction: row;

    >.project-info-content {
        align-items: flex-end;

        >.description {
            text-align: right;
        }
    }
}

.project-info-default {
    flex-direction: row-reverse;

    >.project-info-content {
        align-items: flex-start;

        >.description {
            text-align: left;
        }
    }
}

.project-info {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    width: 100%;
    padding: 61px 0 0 0;
    gap: 32px;
}

.project-info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    height: 339px;
    width: 501px;

    >h3 {
        font-weight: 800;
        font-size: 45px;
        line-height: 45px;
    }

    >.description {
        font-weight: 400;
        font-size: 16px;
        line-height: 19.2px;
    }

    >.languages {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        font-weight: 400;
        font-size: 23px;
        line-height: 27.6px;
        color: #FF9900;
    }
}

.project-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;

    >.projectlink-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 65px;
        padding: 20px 60px;
        border: #000000 4px solid;
        background-color: transparent;
        font-weight: 400;
        font-size: 23px;
        line-height: 27.6px;
        white-space: nowrap;

        &:hover {
            cursor: pointer;
            transition: all 125ms ease-in-out;
            transform: scale(1.1);
            font-weight: 700;
        }
    }
}

.slide-in-right-animation {
    animation: slide-in-right 0.4s forwards ease-out;
    transform: translateX(-30%);
}

@keyframes slide-in-right {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.slide-in-left-animation {
    animation: slide-in-left 0.4s forwards ease-out;
    transform: translateX(30%);
}

@keyframes slide-in-left {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.draw-img-frame-effect {
    border: #000000 4px solid;
    mask:
        conic-gradient(from 180deg at top 4px right 4px, #0000 90deg, #000 0) var(--_i, 200%) 0 /200% var(--_i, 4px) border-box no-repeat,
        conic-gradient(at bottom 4px left 4px, #0000 90deg, #000 0) 0 var(--_i, 200%)/var(--_i, 4px) 200% border-box no-repeat,
        linear-gradient(#000 0 0) padding-box no-repeat;
    transition: 125ms, mask-position 125ms 125ms;
}

.draw-img-frame-effect-start {
    cursor: pointer;
    --_i: 100%;
    transition: 125ms, mask-size 125ms 125ms;
}