/* -- FONTS -- */
/* syne-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  src: url('../src/assets/fonts/syne-v22-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* syne-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  src: url('../src/assets/fonts/syne-v22-latin-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* syne-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  src: url('../src/assets/fonts/syne-v22-latin-600.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* syne-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  src: url('../src/assets/fonts/syne-v22-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* syne-800 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Syne';
  font-style: normal;
  font-weight: 800;
  src: url('../src/assets/fonts/syne-v22-latin-800.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* overpass-300 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 300;
  src: url('../src/assets/fonts/overpass-v13-latin-300.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* overpass-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: url('../src/assets/fonts/overpass-v13-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* overpass-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 500;
  src: url('../src/assets/fonts/overpass-v13-latin-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* overpass-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 600;
  src: url('../src/assets/fonts/overpass-v13-latin-600.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* overpass-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  src: url('../src/assets/fonts/overpass-v13-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* -- GLOBAL STYLES -- */
* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Overpass', sans-serif;
  background-color: #FFFCF3;
}

app-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Syne', sans-serif;
  color: #000000;
}

.btn-prim {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 207px;
  height: 68px;
  border: #000000 4px solid;
  padding: 20px 60px;
  background-color: transparent;
  transition: all 125ms ease-in-out;
  font-weight: 400;
  font-size: 23px;
  line-height: 27.6px;
  white-space: nowrap;
  transition: all 125ms ease-in-out;

  &:hover {
    cursor: pointer;
    transition: all 125ms ease-in-out;
    width: 280px;
    padding: 20px 80px;
    font-weight: 700;
  }
}

.section-container {
  width: 1440px;
  padding: 0 100px;
}

/* -- Scroll Effects -- */
h2:hover {
  transition: all 100ms ease-in-out;
  color: #FF9900;
  cursor: default;
}

.draw-frame-effect {
  border: #000000 4px solid;
  mask:
      conic-gradient(from 180deg at top 4px right 4px, #0000 90deg, #000 0) var(--_i, 200%) 0 /200% var(--_i, 4px) border-box no-repeat,
      conic-gradient(at bottom 4px left 4px, #0000 90deg, #000 0) 0 var(--_i, 200%)/var(--_i, 4px) 200% border-box no-repeat,
      linear-gradient(#000 0 0) padding-box no-repeat;
  transition: 125ms, mask-position 125ms 125ms;
}

.draw-frame-effect:hover {
  --_i: 100%;
  transition: 125ms, mask-size 125ms 125ms;
}

/* -- ANIMATIONS -- */
@keyframes arrowTopDown {
  from {
      transform: translateY(-200px);
  }

  to {
      transform: translateY(200px);
  }
}

.slide-to-right-animation {
  animation: 1.5s slide-to-right 0s forwards;
  transform: translateX(-100%);
}

@keyframes slide-to-right {
  to {
      transform: translateX(0);
  }

}

.slide-to-left-animation {
  animation: 1.5s slide-to-left 0s forwards;
  transform: translateX(100%);
}

@keyframes slide-to-left {
  to {
      transform: translateX(0);
  }

}

.slide-down-animation {
  animation: 1.5s slide-down 0s forwards;
  transform: translateY(-250%);
}

@keyframes slide-down {
  to {
      transform: translateY(0);
  }

}