@media screen and (max-width: 1200px) {
    section,
    header,
    footer {
      padding-right: 56px;
      padding-left: 56px;
    }
  }
  
  @media screen and (max-width: 960px) {
    section,
    header,
    footer {
      padding-right: 32px;
      padding-left: 32px;
    }
  }
  
  @media screen and (max-width: 480px) {
    section,
    header,
    footer {
      padding-right: 21px;
      padding-left: 21px;
    }
  }