@media screen and (max-width: 390px) {

    section,
    header,
    footer {
      padding-right: 25px;
      padding-left: 25px;
    }
  
    @media screen and (max-width: 1360px) {
  
      section,
      header,
      footer {
        padding-right: 48px;
        padding-left: 48px;
      }
    }
  }