@import url('./footer.responsive.scss');

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #FFFCF3;
    font-family: "Overpass";
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.legal-notice {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #FFFCF3;
}

.section-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: 16px;
    width: 100%;

    >.social-links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 42px;

        >a {
            display: flex;
            justify-content: center;
            align-items: center;
            transition: transform 125ms ease-in-out;

            &:hover {
                transition: transform 125ms ease-in-out;
                transform: translateY(-10px);
            }

            >p {
                font-weight: 400;
                font-size: 16px;
                line-height: 23px;
            }
        }

        >img {
            width: 40px;
            height: 40px;
            object-fit: contain;
        }
    }

    >a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        transition: transform 125ms ease-in-out;

        &:hover {
            transition: transform 125ms ease-in-out;
            transform: scale(1.1);
        }

        >#logo-footer {
            height: 40px;
            width: 35px;
            object-fit: contain;
            cursor: pointer;
        }

        >span {
            font-family: "Overpass", sans-serif;
            font-weight: 400;
            font-size: 28px;
            line-height: 28px;
        }
    }
}

.section-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: 16px;
    width: 100%;


}