<footer>
    <div class="footer-top">
        <div class="section-left">
            <a href="">
                <img id="logo-footer" src="./../../../assets/icons/logo_light.png">
                <span>PJ</span>
            </a>
            <p id="copyright">© Preston Jones 2024</p>
        </div>
        <div class="section-right">
            <div class="social-links">
                <a href="https://github.com/preston-jones" target="_blank"><img src="./../../../assets/icons/github_icon.png"></a>
                <a href="mailto:mail@prestonjones.dev?subject=Hi Preston, I've got a message for you!" target="_blank"><img src="./../../../assets/icons/email_icon.png"></a>
                <a href="https://www.linkedin.com/in/preston-jones-25bb912b6/" target="_blank"><img src="./../../../assets/icons/linkedin_icon.png"></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
            <a href="imprint"><p>Legal notice</p></a>
    </div>
</footer>