<footer>
    <div class="footer-container">
        <div class="section-top">
            <a href="">
                <img id="logo-footer" src="./../../../assets/icons/logo_light.png">
                <span>PJ</span>
            </a>
            <div class="social-links">
                <a href="https://github.com/preston-jones" target="_blank"><img src="./../../../assets/icons/github_icon.png"></a>
                <a href="mailto:mail@prestonjones.dev?subject=Hi Preston, I've got a message for you!" target="_blank"><img src="./../../../assets/icons/email_icon.png"></a>
                <a href="https://www.linkedin.com/in/preston-jones-25bb912b6/" target="_blank"><img src="./../../../assets/icons/linkedin_icon.png"></a>
            </div>
        </div>
        <div class="section-bottom">
            <p id="copyright">© Preston Jones 2024</p>
            <a href="imprint"><p>{{ "footer.imprint.title" | translate}}</p></a>
        </div>
    </div>
</footer>