@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 480px) {

    footer {
        padding-top: 48px;
    }

    .footer-container {
        gap: 32px;
    }

    .section-top {
        flex-direction: column-reverse;
        gap: 32px;
    }

    .section-bottom {
        flex-direction: column;
        gap: 32px;
    }
}