@import url('./portfolio.responsive.scss');

section {
    padding-top: 80px;
}

.portfolio {
    display: flex;
    flex-direction: column;
}

.headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    margin-bottom: 64px;

    >h2 {
        font-weight: 800;
        font-size: 72px;
        line-height: 72px;
    }

    >p {
        font-weight: 400;
        font-size: 21px;
        line-height: 23px;
        font-family: 'Overpass', sans-serif;
    }
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 120px;
}