<section class="portfolio">
    <div class="headline">
        <h2 data-aos="fade-left" data-aos-duration="1000">Portfolio</h2>
        <p data-aos="fade-left" data-aos-duration="1000">
            Explore a selection of my work here - Interact with <br> projects to see my skills in action.
        </p>
    </div>
    <div class="content">
        @for(project of projectsData; track projectsData.length; let index = $index){
        <app-project-template [projectTitle]="project.title" [projectIndex]="index + 1"></app-project-template>
        }
    </div>
</section>