.headline {
    display: flex;
    justify-content: center;
    align-items: center;
    >h2 {
        font-weight: 800;
        font-size: 78px;
        line-height: 78px;
    }
}

.content {
    width: 100%;
}